# Python Data Types: Beginners Guide

Please note, this is not meant to be a comprehensive overview of Python types in general.

**This notebook is just a code reference for the article Python Data Types: Beginners Guide, no written explanations here**

This notebook will just go through the basic topics in order:

* Variable
* Data types
    * Numbers
    * Strings
    * Booleans
    * Lists
    * Dictionaries
    * Tuples 
    * Sets
____

## Variable Declaration and Assignment

In [1]:
# Can not start with number or special characters
name_of_var = 2

In [2]:
x = 2
y = 3

In [3]:
z = x + y

In [4]:
z

5

## Data types

### Numbers

In [5]:
1 + 3   #integer types

4

In [6]:
1.0 + 3.2   #float types

4.2

In [7]:
print(type(4))   #output: <class 'int'>

<class 'int'>

In [8]:
print(type(3.0))  #output: <class 'float'>

<class 'float'>

In [9]:
a = 3 + 2j
print(type(a))  #output: <class 'complex'>

<class 'complex'>

### Strings

In [10]:
'single quotes'

'single quotes'

In [11]:
greetings = 'Hello'                          #single quotes
print(greetings)                             #output: Hello

Hello

In [12]:
"double quotes"

'double quotes'

In [13]:
greetings = "Holla"                          #double quotes
print(greetings)                             #output: Holla

Holla

In [14]:
greetings = '''namaskaar'''                  #triple quotes
print(greetings)                             #output: Namaskaar

namaskaar

### Booleans

In [15]:
True

True

In [16]:
False

False

In [17]:
print(type(True))                           #output: <class 'bool'>

<class 'bool'>

### Lists

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [20]:
favorite_colors = ['Blue', 'Purple', 'Black']  #list of strings

In [21]:
favorite_number = [1, 3, 9.5]                  #list of numbers

In [22]:
favorite_food = []                             #empty list

In [23]:
country = ['Nigeria', 'India', 'Germany', 'France']
print(country[0])                            #Accessing first item
#output: Nigeria

Nigeria

In [24]:
print(country[-1])                           #Accessing last item
#output: France

France

In [25]:
my_list = ['a', 'b', 'c']

In [26]:
my_list.append('d')

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
my_list[1:]

['b', 'c', 'd']

In [29]:
my_list[:1]

['a']

In [30]:
my_list[0] = 'NEW'

In [31]:
my_list

['NEW', 'b', 'c', 'd']

### Dictionaries

In [32]:
d = {'key1':'item1','key2':'item2'}

In [33]:
d

{'key1': 'item1', 'key2': 'item2'}

In [34]:
d['key1']

'item1'

In [35]:
my_dict = {}                                  #empty list
my_dict = {1: 'English', 2: 'French', 3: 'Hausa'}

In [36]:
my_dict

{1: 'English', 2: 'French', 3: 'Hausa'}

In [37]:
friend = {'name': 'Jones', 'age': 19, 'school': 'Stanford'}
print(friend['school'])                  #output: Stanford

Stanford

### Tuples

In [38]:
school = ('Harvard', 'Stanford', 'Bradford')
print(school)           #output: ('Harvard', 'Stanford', 'Bradford')

('Harvard', 'Stanford', 'Bradford')

In [39]:
country = ('Nigeria', 'India', 'Germany', 'France')
print(country[-1])                 #output: France

France

In [40]:
print(country[2])                  #output: Germany

Germany

### Sets

In [41]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [42]:
fav_number = {1, 3, 6, 9.5}                 #set of numbers
print(fav_number)                           #output: {1, 3, 6, 9.5}

{1, 3, 6, 9.5}

In [43]:
A = set('a')
B = set('b')
A.union(B)                                  #output: {'a', 'b'}

{'a', 'b'}

# Great Job!